{
  "lint-staged": {
    "*.{js,jsx}": [
      "eslint --fix",
      "prettier --write",
      "git add"
    ],
    "*.{json,css,md,html}": [
      "prettier --write",
      "git add"
    ],
    "*.{sql,yml,yaml}": [
      "prettier --write",
      "git add"
    ]
  },
  "ignore": [
    "**/node_modules/**",
    "**/dist/**",
    "**/build/**",
    "**/coverage/**"
  ]
}
