{
  "semi": true,
  "trailingComma": "none",
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "jsxSingleQuote": false,
  "jsxBracketSameLine": false,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "htmlWhitespaceSensitivity": "css",
  "jsxSpaces": false,
  "insertPragma": false,
  "requirePragma": false,
  "overrides": [
    {
      "files": ["*.md"],
      "options": {
        "printWidth": 80,
        "proseWrap": "always"
      }
    },
    {
      "files": ["*.json"],
      "options": {
        "printWidth": 80
      }
    },
    {
      "files": ["*.yaml", "*.yml"],
      "options": {
        "printWidth": 120
      }
    }
  ]
}
